<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="finah_desktop.Properties.Settings.finahConnectionString"
            connectionString="Data Source=of4tna6c1a.database.windows.net;Initial Catalog=finah;Persist Security Info=True;User ID=finah"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>